.overflow-auto {
  overflow: auto;
}

.card {
  border: none;
}

.card-title {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.card-text {
  font-size: 0.8rem;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 1rem;
}
.messages {
  overflow-y: scroll;
  height: 650px;
}
.message {
  display: inline-block;
  background-color: #0ae846;
  background-image: linear-gradient(0deg, #0ae846 26%, #41d07f 56%);
  padding: 10px 20px;
  border-radius: 30px;
}
.message-height {
  height: 42%;
}
.online {
  left: 75%;
  top: 93%;
  padding: 0.4rem;
}
