<div class="context">
  <div class="container mx-auto">
    <div class="form-box">
      <h3 class="mb-4 text-center">Sign Up</h3>
      <form action="" (submit)="handleSubmit(uname.value,email.value,phone.value,password.value,confirmPassword.value)">
        <div class="form-floating mb-3">
          <input type="text" class="form-control shadow-none" #uname id="floatingName" placeholder="Enter Name">
          <label for="floatingName">Name</label>
          <span class="text-danger">{{nameError}}</span>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control shadow-none" #email id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
          <span class="text-danger">{{emailError}}</span>

        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control shadow-none" #phone id="floatingPassword" placeholder="Phone Number">
          <label for="floatingPassword">Phone Number</label>
          <span class="text-danger">{{phoneError}}</span>

        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control shadow-none" #password id="floatingPassword"
            placeholder="Password">
          <label for="floatingPassword">Password</label>
          <span class="text-danger">{{passwordError}}</span>

        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control shadow-none" #confirmPassword id="floatingConfirmPassword"
            placeholder="Password">
          <label for="floatingConfirmPassword">Confirm Password</label>
          <span class="text-danger">{{cpasswordError}}</span>

        </div>
        <input class="btn btn-gradiant" type="submit" value="Sign Up" />
        <p class="h6 mt-4">Have already an account ? <a routerLink="/login"
            class="text-decoration-none text-orange">Signin</a></p>
        <hr>
        <button class="loginBtn btn w-100 text-center loginBtn--facebook">
          Login with Facebook
        </button>

        <button class="loginBtn btn w-100 text-center loginBtn--google">
          Login with Google
        </button>

        <button class="loginBtn btn w-100 text-center loginBtn--twitter twitter-icon"> Login with Twitter</button>

      </form>
    </div>
  </div>
</div>


<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
