<div class="row justify-content-center align-items-center">

  <tabset #tabset>
    <tab tab1 heading="Newest" id="first" #first>
      <div *ngFor="let post of postsData ; let i = index">
        <div class="d-flex justify-content-center">
          <mat-card class="example-card bg-transparent shadow-none">
            <mat-card-header class="">
              <div mat-card-avatar class="example-header-image"><img
                  src="{{post.profileImage || 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAMFBMVEXi4uImJiadnZ2SkpLZ2dlsbGxdXV15eXnGxsaoqKiysrKGhoZNTU3Q0NA7Ozu8vLx+CZkfAAAAtElEQVRoge3T2Q6DIBCF4Tkim0t9/7etS22TWg2a3pj834WTcCKDgGYAAAAAAAC4qVbV+Kyj5PtPLc8L1F7zJEHOPbr6XUvzIkFxmiTLmVWq1lqcF8lpfqVVY5bk1zoomEUNe/m5Jq91RaVxaxTWOo02y4J/539pYuHRhaP8QpPtdmQpH+UXmmwPNnTdcol28jOS8/Ku31zRccmN4n5+8jsmzffPNqidDiLv5QAAAAAAALilJ/frBu723vpKAAAAAElFTkSuQmCC'}}"
                  alt="" class=" profile border border-success rounded-circle"></div>
              <mat-card-title>{{post.name}}</mat-card-title>
              <mat-card-subtitle class=" dark">{{post.title}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{post.imageUrl}}" class="rounded object-fit-fill" *ngIf="post.format == 'image'"
              alt="Photo of a Shiba Inu">
            <video src="{{post.imageUrl}}" *ngIf="post.format == 'video'" oncontextmenu="event.preventDefault();" alt=""
              controls [muted]="true" loop width="600" height="400" autoplay class="rounded object-fit-cover"></video>
          </mat-card>
          <div class="post-actions d-flex flex-column justify-content-end align-items-end">
            <button (click)="like($event, post.postId)" class="like cursor-pointer">
              <i *ngIf="!checkLikes(post.likes)" class="fa-regular fa-heart"></i>
              <i *ngIf="checkLikes(post.likes)" class="fa-solid text-danger fa-heart"></i>
              <p class="count" *ngIf="post?.likesCount > 0">{{post?.likesCount}}</p>
            </button>
            <button class="comments cursor-pointer" (click)="displayComment(post?.postId)">
              <i class="h6 mb-0 fa-regular fa-comment"></i>
              <p class="count" *ngIf="post?.comments?.length>0">{{post?.comments?.length}}</p>
            </button>
            <div class="share cursor-pointer">
              <i class="fa-solid fa-share"></i>
              <p class="count">9.5k</p>
            </div>
          </div>
        </div>
        <div class="mx-auto comments-view scroll scroll-3" *ngIf="post.postId == displayComm && displayCommBoolean">
          <h2 class="text-center">comments</h2>
          <div class="row" *ngFor=" let comment of post?.comments">
            <div class="img-fluid">
              <img src="{{post.profileImage}}" alt="">
            </div>
            <p class="w-100">{{comment.user.name}}</p>
            <p class="h5">
              {{ comment?.commentText}}
            </p>
          </div>
        </div>
        <div class="comment-area d-flex justify-content-center mt-5 position-relative">
          <input (keydown.Enter)="comment(commentField.value, post.postId, i)" type="text" class="form-control w-50"
            #commentField placeholder="Enter comment" required>
          <button *ngIf="!sending" (click)="comment(commentField.value, post.postId, i)"
            class=" btn btn-success position-absolute send">
            <i class="fa-regular fa-paper-plane"></i>
          </button>
          <button class="btn btn-success position-absolute send" *ngIf="sending">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
      </div>
    </tab>
    <tab tab2 heading="Trending" id="second" #second>
      <div *ngFor="let post of trendingPostsData ; let i = index">
        <div class="d-flex justify-content-center">
          <mat-card class="example-card bg-transparent shadow-none">
            <mat-card-header class="">
              <div mat-card-avatar class="example-header-image"><img
                  src="{{post.profileImage || 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAMFBMVEXi4uImJiadnZ2SkpLZ2dlsbGxdXV15eXnGxsaoqKiysrKGhoZNTU3Q0NA7Ozu8vLx+CZkfAAAAtElEQVRoge3T2Q6DIBCF4Tkim0t9/7etS22TWg2a3pj834WTcCKDgGYAAAAAAAC4qVbV+Kyj5PtPLc8L1F7zJEHOPbr6XUvzIkFxmiTLmVWq1lqcF8lpfqVVY5bk1zoomEUNe/m5Jq91RaVxaxTWOo02y4J/539pYuHRhaP8QpPtdmQpH+UXmmwPNnTdcol28jOS8/Ku31zRccmN4n5+8jsmzffPNqidDiLv5QAAAAAAALilJ/frBu723vpKAAAAAElFTkSuQmCC'}}"
                  alt="" class=" profile border border-success rounded-circle"></div>
              <mat-card-title>{{post.name}}</mat-card-title>
              <mat-card-subtitle class=" dark">{{post.title}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{post.imageUrl}}" class="rounded object-fit-fill" *ngIf="post.format == 'image'"
              alt="Photo of a Shiba Inu">
            <video src="{{post.imageUrl}}" *ngIf="post.format == 'video'" oncontextmenu="event.preventDefault();" alt=""
              controls [muted]="true" loop width="600" height="400" autoplay class="rounded object-fit-cover"></video>
          </mat-card>
          <div class="post-actions d-flex flex-column justify-content-end align-items-end">
            <button (click)="like($event, post.postId)" class="like cursor-pointer">
              <i *ngIf="!checkLikes(post.likes)" class="fa-regular fa-heart"></i>
              <i *ngIf="checkLikes(post.likes)" class="fa-solid text-danger fa-heart"></i>
              <p class="count" *ngIf="post?.likesCount > 0">{{post?.likesCount}}</p>
            </button>
            <button class="comments cursor-pointer" (click)="displayComment(post?.postId)">
              <i class="h6 mb-0 fa-regular fa-comment"></i>
              <p class="count" *ngIf="post?.comments?.length>0">{{post?.comments?.length}}</p>
            </button>
            <div class="share cursor-pointer">
              <i class="fa-solid fa-share"></i>
              <p class="count">9.5k</p>
            </div>
          </div>
        </div>
        <div class="mx-auto comments-view scroll scroll-3" *ngIf="post.postId == displayComm && displayCommBoolean">
          <h2 class="text-center">comments</h2>
          <div class="row" *ngFor=" let comment of post?.comments">
            <div class="img-fluid">
              <img src="{{post.profileImage}}" alt="">
            </div>
            <p class="w-100">{{comment.user.name}}</p>
            <p class="h5">
              {{ comment?.commentText}}
            </p>
          </div>
        </div>
        <div class="comment-area d-flex justify-content-center mt-5 position-relative">
          <input (keydown.Enter)="comment(commentField.value, post.postId, i)" type="text" class="form-control w-50"
            #commentField placeholder="Enter comment" required>
          <button *ngIf="!sending" (click)="comment(commentField.value, post.postId, i)"
            class=" btn btn-success position-absolute send">
            <i class="fa-regular fa-paper-plane"></i>
          </button>
          <button class="btn btn-success position-absolute send" *ngIf="sending">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
      </div>
    </tab>
    <tab tab3 heading="Discover" id="third" #third>
      <div *ngFor="let post of postsData ; let i = index">
        <div class="d-flex justify-content-center">
          <mat-card class="example-card bg-transparent shadow-none">
            <mat-card-header class="">
              <div mat-card-avatar class="example-header-image"><img
                  src="{{post.profileImage || 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAMFBMVEXi4uImJiadnZ2SkpLZ2dlsbGxdXV15eXnGxsaoqKiysrKGhoZNTU3Q0NA7Ozu8vLx+CZkfAAAAtElEQVRoge3T2Q6DIBCF4Tkim0t9/7etS22TWg2a3pj834WTcCKDgGYAAAAAAAC4qVbV+Kyj5PtPLc8L1F7zJEHOPbr6XUvzIkFxmiTLmVWq1lqcF8lpfqVVY5bk1zoomEUNe/m5Jq91RaVxaxTWOo02y4J/539pYuHRhaP8QpPtdmQpH+UXmmwPNnTdcol28jOS8/Ku31zRccmN4n5+8jsmzffPNqidDiLv5QAAAAAAALilJ/frBu723vpKAAAAAElFTkSuQmCC'}}"
                  alt="" class=" profile border border-success rounded-circle"></div>
              <mat-card-title>{{post.name}}</mat-card-title>
              <mat-card-subtitle class=" dark">{{post.title}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{post.imageUrl}}" class="rounded object-fit-fill" *ngIf="post.format == 'image'"
              alt="Photo of a Shiba Inu">
            <video src="{{post.imageUrl}}" *ngIf="post.format == 'video'" oncontextmenu="event.preventDefault();" alt=""
              controls [muted]="true" loop width="600" height="400" autoplay class="rounded object-fit-cover"></video>
          </mat-card>
          <div class="post-actions d-flex flex-column justify-content-end align-items-end">
            <button (click)="like($event, post.postId)" class="like cursor-pointer">
              <i *ngIf="!checkLikes(post.likes)" class="fa-regular fa-heart"></i>
              <i *ngIf="checkLikes(post.likes)" class="fa-solid text-danger fa-heart"></i>
              <p class="count" *ngIf="post?.likesCount > 0">{{post?.likesCount}}</p>
            </button>
            <button class="comments cursor-pointer" (click)="displayComment(post?.postId)">
              <i class="h6 mb-0 fa-regular fa-comment"></i>
              <p class="count" *ngIf="post?.comments?.length>0">{{post?.comments?.length}}</p>
            </button>
            <div class="share cursor-pointer">
              <i class="fa-solid fa-share"></i>
              <p class="count">9.5k</p>
            </div>
          </div>
        </div>
        <div class="mx-auto comments-view scroll scroll-3" *ngIf="post.postId == displayComm && displayCommBoolean">
          <h2 class="text-center">comments</h2>
          <div class="row" *ngFor=" let comment of post?.comments">
            <div class="img-fluid">
              <img src="{{post.profileImage}}" alt="">
            </div>
            <p class="w-100">{{comment.user.name}}</p>
            <p class="h5">
              {{ comment?.commentText}}
            </p>
          </div>
        </div>
        <div class="comment-area d-flex justify-content-center mt-5 position-relative">
          <input (keydown.Enter)="comment(commentField.value, post.postId, i)" type="text" class="form-control w-50"
            #commentField placeholder="Enter comment" required>
          <button *ngIf="!sending" (click)="comment(commentField.value, post.postId, i)"
            class=" btn btn-success position-absolute send">
            <i class="fa-regular fa-paper-plane"></i>
          </button>
          <button class="btn btn-success position-absolute send" *ngIf="sending">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
      </div>
    </tab>
  </tabset>
</div>
