:root {
  --btn-border: 1px solid black;
  --color-white: white;
  --color-black: black;
}
.profile {
  max-width: 100%;
}
/* .profile-pic {
  width: 15%;
} */
.profile-title {
  width: 55%;
}
.like,
.comments,
.share {
  width: 40px;
  height: 40px;
  border: var(--btn-border);
  background: rgba(46, 125, 50, 0.1);
  text-align: center;
  border-radius: 50%;
  margin-bottom: 40px;
  color: var(--color-black);
  margin-left: 10px;
  font-size: 16px;
  line-height: 40px;
}
.count {
  margin-top: -10px;
  color: var(--color-black);
}
.cursor-pointer {
  cursor: pointer;
}
.modal-heading {
  height: 30px;
  color: #000;
  margin: 5px 0px 10px 0px;
  border-bottom: var(--btn-border);
}
.nav-item {
  width: 33.33%;
  text-align: center;
}
.nav-tabs .nav-link {
  background-color: transparent;
  color: var(--color-black);
  font-size: 12px;
}
.nav-tabs .nav-link:hover {
  border: 0px transparent;
  color: var(--color-white) !important;
  background-color: green;
}

.nav-tabs .nav-link.active {
  border-bottom: var(--btn-border);
  color: var(--color-black);
  font-size: 12px;
}
.nav-tabs .nav-link.active:hover {
  border-color: transparent;
}
.comment-area input.form-control {
  color: #212121;
}
.send {
  right: 25%;
}
[data-bs-theme="dark"] {
  --btn-border: 1px solid white;
  --color-white: black;
  --color-black: white;
}
.like i.fa-regular {
  color: var(--color-black);
}
.scroll {
  scrollbar-color: var(--scroll-thumb-color, grey)
    var(--scroll-track, transparent);
  scrollbar-width: thin;
}
.scroll::-webkit-scrollbar {
  width: var(--scroll-size, 10px);
  height: var(--scroll-size, 10px);
}
.scroll::-webkit-scrollbar-track {
  background-color: var(--scroll-track, transparent);
  border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, grey);
  background-image: var(--scroll-thumb, none);
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}
.scroll-3 {
  --scroll-size: 5px;
  --scroll-radius: 10px;
  --scroll-track: rgb(255 255 255 / 10%);
  --scroll-thumb-color: #fff;
}
.comments-view {
  width: 536px;
  overflow-x: hidden;
  height: 141px;
  --scroll-size: 5px;
  --scroll-radius: 10px;
  --scroll-track: rgb(255 255 255 / 10%);
  --scroll-thumb-color: #fff;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
