<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a routerLink="home" class="navbar-brand  align-middle img-fluid"><img src="assets/img/logo.svg" alt=""
        class="me-1 logo"><span class="ms-3">Social
        Hash</span></a>
    <div class="d-flex" *ngIf="!isLogin()">
      <a routerLink="/login" class="btn btn-outline-success me-3">Login</a>
      <a routerLink="/signup" class="btn btn-outline-success" type="submit">Sign up</a>
    </div>
    <div class="d-flex align-items-center" *ngIf="isLogin()">
      <div class="mx-2">
        <img src="{{userDetail?.profileImage}}" alt="" width="40" height="40" class="rounded-circle">
        <span class="h6 ms-1">{{userDetail?.name}}</span>
      </div>
      <a (click)="logout()" class="btn btn-outline-danger me-3"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>
  </div>
</nav>
<div class="conatiner-fluid pt-4 pb-2 bg-success-subtle">
  <div class="row justify-content-evenly align-items-center">
    <button type="button" class="btn btn-success w-auto mb-2 me-2" data-bs-toggle="modal" data-bs-target="#myModal">New
      Post</button>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Create Post</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="modal-profile d-flex align-items-center overflow-hidden">
              <div class="modal-profile-pic">
                <img src="{{userDetail.profileImage}}" alt="" width="50" height="50"
                  class="border border-success rounded-circle">
              </div>
              <div class="modal-profile-name ms-2"><span class="fw-bolder">{{userDetail.name}}</span></div>
            </div>

            <div class="modal-text mt-3 w-100">
              <input placeholder="What's in your mind ?" class="w-100 form-control" [(ngModel)]="message" cols="30"
                rows="5" />
            </div>
            <div class="text-center">
              <img [src]="url" *ngIf="format==='image' && url" height="200"> <br />
              <video [src]="url" *ngIf="format==='video' && url" height="200" controls></video>

            </div>
            <div class="modal-extras">
              <h5>Add to your Post </h5>
              <div class="bg-light py-2 px-3 d-flex align-items-center">
                <a class="col-4 text-decoration-none text-dark" style="cursor: pointer;">
                  <i class='attachment' (click)="toggled = !toggled;" [(emojiPickerIf)]="toggled"
                    [emojiPickerDirection]="'top'" (emojiPickerSelect)="handleSelection($event)"><i
                      class="fa-regular fa-face-smile position-relative text-danger me-2 h5 fst-normal m-0"></i><span
                      class="fst-normal">Insert
                      Emoji</span></i>
                </a>
                <a class="col-4 text-decoration-none text-dark">
                  <input type="file" style="display:none" #file class="btn btn-primary" multiple=""
                    (change)="fileChoose($event)" [(ngModel)]="selectedFile" />
                  <div *ngIf="selectedFile === null" class="error">
                    A file is required
                  </div>
                  <div style="padding: 5px;cursor: pointer;" (click)="file.click();">
                    <i class="fa-regular fa-image position-relative text-primary me-2 h5 fst-normal m-0"></i>
                    <span style="margin-bottom: 0px; ">Insert Image</span>
                  </div>
                </a>
                <a class="col-4 text-decoration-none text-dark"><i
                    class="fa-solid fa-square-poll-vertical text-danger me-2 h5 m-0"></i> <span>Insert
                    Poll</span>
                </a>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type=" button" class="btn btn-success" data-bs-dismiss="modal"
              (click)="uploadPost(message); ">Post</button>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success w-auto">Join Group <i class="fa-solid fa-right-to-bracket"></i></button>
  </div>
</div>
